/* BASE STYLES */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: #d2d6bc;
    max-width: 794px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* HEADER STYLES */
.report-header {
    background-color: #3b5940;
    color: #fff;
    text-align: left;
    padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
    border-radius: 5px; 
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 25%;    /* Ensures logo doesn't take more than 25% width of the header */
    height: 70%;       /* This will set the logo height to 70% of the header's height */
    margin-left: auto; /* Aligns the logo to the right */
}
/* TABLE STYLES */
table {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #657860;
    border-radius: 5px;
    overflow: hidden;
}

table th, table td {
    border: 1px solid #657860;
    padding: 0.5rem;
    text-align: left;
}

table thead {
    background-color: #3b5940;
    color: #fff;
}

table tbody tr:nth-child(odd) {
    background-color: #b1b99f;
}

table tbody tr:nth-child(even) {
    background-color: #88987e;
}

table tbody tr:hover {
    background-color: #ddd;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    overflow-x: auto; /* This allows horizontal scrolling */
}

/* INDICATOR & DESCRIPTION SECTIONS */
.stock-data, .indicator-section {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #88987e;
    border-radius: 5px;
}

.description-box {
    background-color: #b1b99f;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.description-box h3 {
    border-bottom: 1px solid #657860;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.description-box:hover {
    background-color: #d2d6bc;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    color: #202715;
}

/* FOOTER STYLES */
footer {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    background-color: #3b5940;
    color: #fff;
    border-top: 2px solid #88987e;
}

/* MEDIA QUERIES & PRINT STYLES */
@media print {
    body {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }
}

/* MISC STYLES */
.report-header {
    background-color: #3b5940;
    color: #fff;
    text-align: left;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.report-header .report-date {
    font-size: 0.8rem;
}

/* Collapsible styles */
/* Collapsible styles */
.collapsible {
    background-color: #3b5940;
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.collapsible:after {
    content: '+';
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.collapsible.active:after {
    content: '-';
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    padding: 0 18px;
}
.header-logo {
    height: 70%;   /* This will set the logo height to 70% of the header's height */
    width: auto;   /* To maintain the aspect ratio */
    margin-left: 1rem;  /* Some space from the text */
}
.collapsible {
    font-size: 24px;  /* This is a typical h2 size for desktop screens */
    padding: 10px
    /* ... other styles ... */
}

/* Adjust for tablet screens */
@media (max-width: 768px) {
    .collapsible {
        font-size: 20px;  /* Slightly smaller for tablets */
    }
}

/* Adjust for mobile screens */
@media (max-width: 480px) {
    .collapsible {
        font-size: 16px;  /* Even smaller for mobile devices */
    }
}
/* Base font size for larger screens */
table {
    font-size: 16px; /* or whatever default size you want */
    /* ... other styles ... */
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) { /* This threshold (768px) targets tablets and below */
    table {
        font-size: 14px; /* Adjust size as needed */
    }
}

@media (max-width: 480px) { /* This threshold (480px) targets smaller mobile devices */
    table {
        font-size: 12px; /* Adjust size as needed */
    }
}