body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f4f4f4;
    max-width: 210mm; /* A4 width */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.report-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.stock-data, .indicator-section {
    margin: 2rem auto;
    width: 80%;
    border-collapse: collapse;
}

.styled-table {
    width: 100%;
    border: 1px solid #333;
}

.styled-table th, .styled-table td {
    border: 1px solid #333;
    padding: 0.5rem;
    text-align: left;
}

.styled-table thead {
    background-color: #555;
    color: #fff;
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #e7e7e7;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}

/* New styles for the SMA section */
.indicator-section {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.description-box {
    background-color: #e7e7e7;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.description-box h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Printing settings */
@media print {
    body {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }
}
.green {
    color: green;
}

.red {
    color: red;
}
/* This will style the title box */
.title-box {
    border: 1px solid grey;
    padding: 10px;
    background-color: lightgrey;
}

/* This will style the surrounding box which includes the title box and the description */
.surrounding-box {
    border: 2px solid grey;
    padding: 15px;
    margin-top: 20px;
}

/* This styles the flag table */


.flag-table td {
    border: 1px solid grey;
    padding: 5px 10px;
}