/* Selecting all buttons with class 'gradient-btn' */
.gradient-btn {
    background: linear-gradient(to right, red, yellow);
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.gradient-btn:hover {
    opacity: 0.8;  /* 80% opacity on hover */
}

table thead{
    background-color: blueviolet;
}
table thead:hover{
    opacity: 0.8;  /* 60% opacity on hover */
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;  /* Dark gray text color */
    background-color: #f4f4f4;  /* Light gray background */
}

h1 {
    color: #0066cc;  /* Blue color for headers */
}



.indicator-container {
    margin-bottom: 10px;
}

.indicator-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 10px 10px 0 0; /* Round only the top corners */
    color: white;
    cursor: pointer;
}

.info {
    transform-origin: top;
    transform: scaleY(0);
    display: none;
    border-radius: 0 0 10px 10px; /* Round only the bottom corners */
    padding: 10px;
    background-color: green; /* Match button color */
    overflow: hidden; /* Hide overflow content */
    transition: transform 0.3s ease-in-out; /* Animation */
}

.info h3 {
    margin-top: 0; /* Remove top margin for a connected look */
}

.info.active {
    display: block;
    transform: scaleY(1);
}

